!!! Strict
%html{ :lang => "en"}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    
    %title TweetEagle!
    
    %link{ :charset => "utf-8", :href => "/stylesheets/reset.css", :media => "projection, screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :charset => "utf-8", :href => "/stylesheets/screen.css", :media => "projection, screen", :rel => "stylesheet", :type => "text/css" }
  %body#tweeteagle-com
    #page
      #header
        %h1 TweetEagle 
      #content
        = catch_content :for_layout
      #footer
        %p 
          Produced at random by
          %span.vcard
            %a.fn.url{ :href => "http://hassox.blogspot.com/"} hassox
          &amp;
          %span.vcard
            %a.fn.url{ :href => "http://lachstock.com.au/"} Lachlan Hardy
