/****
TweetEagle
http://tweeteagle.com
20080720

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
	-- =Generic Forms
- =Structure
	-- =Content
	-- =Footer
- =JS Enabled

****/


/* - =Generic Rules - */

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #dd2122;}
		a:visited {color: #ccc;}
		a:hover, a:active, a:focus {color: #f00; text-decoration: none;}
		
		#content a.details {background: #181818 url('/images/bg-details.gif') no-repeat 100% 6px; color: #e71d25; margin: 1.6em 1.6em 0 0; padding: 0 16px 0 0;}
		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {font-family: Times, "Times New Roman", Courier, serif; font-weight: 300; margin: 0 0 0.5em;}
		h1 {font-size: 2.572em;}
		h2 {font-size: 1.714em;}
		h3 {font-size: 1.45em;}
    	body.home h3,
    	body.event h2.date {font-size: 1.143em;}	
/*    h4 {font-size: 1.4em;}
    h5 {font-size: 1.2em;}
    h6 {font-size: 1.1em;}*/
	
		/* --- =Body Text --- */
			
		.amp {font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}

	/* -- =Generic Forms -- */

	form {background: #222; border: 1px solid #333; clear: both; float: left; padding: 0.5em; width: auto;}
		form label {clear: both; display: block; float: left; font-weight: 700; margin: 0 1em 0.4em 0; padding: 0; width: auto;}
		input {float: left; line-height: 2; margin: 0 1em 0 0; width: 20em;}
			form .submit {margin: 0; width: auto;}


/* - =Structure - */
body {background: #1e1e1e; color: #fcfcfc; font: 62.5%/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
	body.home {}
	
#page {font-size: 1.6em; position: relative;}
  
  #header {background: #ff8000; border: 2px solid #aaa; border-left: none; border-right: none; color: #fcfcfc; margin: 3em 0 4em 0; padding: 0.3em 1em 0.2em 1em;}
    #header h1 {margin: 0;}
	
	  body.home h1,
    #pagetitle {font-family: Times, "Times New Roman", Courier, serif; font-size: 2.572em;  font-weight: 300; margin: 0;}
    #pagetitle a,
    #pagetitle a:link,
    #pagetitle a:visited {background: #ff8000; color: #fcfcfc; text-decoration: none;}
    #pagetitle a:hover,
    #pagetitle a:active,
    #pagetitle a:focus {text-decoration: underline;}
	
  /* -- =Content -- */
	#content {padding: 1em;}
	  .column {float: left; margin: 0 1em 0 0; width: 26em;}
	    .item {margin: 0 0 1em 0;}

	/* -- =Footer -- */		
    #footer {background: #1e1e1e; color: #aaa; clear: both; margin: 8em 0 0 0; padding: 1em;}
      #footer p {font-size: 0.9em;}

/* - =JS enabled - */
html.js {}
